<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stickerLandia.slipknotstickers">
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.stickerLandia.slipknotstickers.StickerApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8644281364598835~1569555824"/>
        <activity android:name="com.stickerLandia.slipknotstickers.EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.stickerLandia.slipknotstickers.StickerPackListActivity" />
        <activity
            android:name="com.stickerLandia.slipknotstickers.StickerPackDetailsActivity"
            android:parentActivityName="com.stickerLandia.slipknotstickers.StickerPackListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stickerLandia.slipknotstickers.StickerPackListActivity" />
        </activity>
        <activity
            android:name="com.stickerLandia.slipknotstickers.StickerPackInfoActivity"
            android:label="@string/title_activity_sticker_pack_info"
            android:parentActivityName="com.stickerLandia.slipknotstickers.StickerPackDetailsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stickerLandia.slipknotstickers.StickerPackDetailsActivity" />
        </activity>

        <provider
            android:name="com.stickerLandia.slipknotstickers.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>
</manifest>
